<p>Happy Birthday to You</p>
<p>Happy Birthday to You</p>
<p>Happy Birthday Dear <%= @name %></p>
<p>Happy Birthday to You.</p>
<br>
<p>From good friends and true,</p>
<p>From old friends and new,</p>
<p>May good luck go with you,</p>
<p>And happiness too.</p>
