<!-- Welcome Header -->

<h1>Birthdays are great! When is yours?</h1>

<!-- Ask user for their name -->
<section>
  <div>
    <form action='/its-your-birthday' method='post'>
      <label for='name'>Please state your name:</label>
      <input type='text' name='name'>
      <label for='birthday'>Please enter your birthday</label>
      <input type='date' name='birthday'>
      <input type="submit" value="Send">
    </form>
  </div>

  <!-- Ask user for their birthday -->
  <!-- <div>
    <form action='/its-your-birthday' method='post'>
      <label for='birthday'>Please enter your birthday</label><br>
      <input type='date' id='birthday' name='birthday'>
      <input type="submit" value="Send">
    </form>
  </div> -->
</section>
