<!-- Welcome Header -->

<h1>Birthdays are great! When is yours?</h1>

<!-- Ask user for their name and birthday -->

<section>
  <div>
    <form action='/info' method='post'>
      <label for='name'>
        Please state your name:
        <input type='text' name='name'>
      </label>
      <label for='birthday'>
        Please enter your birthday
        <input type='date' name='birthday'>
        </label>
        <input type="submit" value="Send">
    </form>
  </div>
</section>
