<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Birthday App!</title>

    <link rel="stylesheet" type="text/css" href="styling.css">

</head>
  <body>
      <!-- Welcome Header -->
    <section>
      <h1>Birthdays are great!</h1>
      <h2>When is yours?</h2>

      <!-- Ask user for their name and birthday -->
      <div>
        <form action='/info' method='post'>
          <label for='name'>
            Please state your name:
            <br>
            <input type='text' id='input' name='name'>
          </label>
          <br>
          <br>
          <label for='birthday'>
            Please enter your next birthday:
            <br>
            <input type='date' id='input' name='birthday'>
          </label>
            <br>
            <br>
            <input type='submit' id='submit' value='Send'>
        </form>
      </div>
    </section>
  </body>
</html>
